<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        ">


	<!-- 配置用户信息表及service类 -->
    <bean id="userDao" class="com.guan.weibo.user.dao.UserDaoImpl" >
    	 <property name="sessionFactory" ref="sessionFactory"></property>
    
    </bean>
   
    <bean id="userService" class="com.guan.weibo.user.service.UserService">
        <property name="userDao" ref="userDao"></property>
    </bean>


	<!-- 配置message类及service类 -->
	 <bean id="messageDao" class="com.guan.weibo.message.dao.MessageDaoImpl" >
    	 <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="messgaeService" class="com.guan.weibo.message.service.MessageService">
        <property name="messageDao" ref="messageDao"></property>
    </bean>




</beans>